.body{
    background-color: #F6F6F6 !important;
}
.feedback{
    position:relative;
    display:block;
    padding-top:0;
    padding-left:35.5%;
    z-index:2;
}
.feedback h1{
    font-size:6rem;
    font-family:"Pixelify Sans","Sans Serif";
    color: #FF7F3E;
    margin-bottom:0%;
}
form input{
    font-family:"Pixelify Sans","Sans Serif";
    width: 27vw;
    height:3vh;
    margin-bottom:1%;
    font-size: 1.15rem;
    padding-left:1%;
    margin-left:1%;
}
form textarea{
    font-family:"Pixelify Sans","Sans Serif";
    width:27.1vw;
    height:20vh;
    font-size: 1.15rem;
    padding-left:1%;
    margin-left:1%;
}
form button{
    margin-left:17%;
    font-family:"Pixelify Sans","Sans Serif";
    font-size: 1.15rem;
    background-color: #41C9E2;
    width:8vw;
    height:2vw;
}

.response{
    font-family:"Pixelify Sans","Sans Serif";
    font-size:1.25rem;
    text-align: left;
    padding-left:8%;
}
