
body{
    margin:0;
    position:relative;
    background-color: #F6F6F6;
}
.navbar{
    position:fixed;
    width: 100vw;
    height:6vh;
    background-color: #008DDA;
    margin:0;
    top:0;
    z-index:999;
}
.logo{
    position:relative;
    display:inline-block
}
.nav-items{
    display:inline-flex;
    position:relative;
    padding-top:0.75%;
    margin-left: 35% ;
    font-size:1.25rem;
}
.nav-items li{
    position:relative;
    display:inline-block;
    padding-left:3.25%;
    width:8vw;

}
.nav-items a{
    text-decoration: none !important;
    font-family: "Pixelify Sans","Sans Serif";
    color: #F7EEDD;
    transition:0.75s;
}
.nav-items li :hover{
    color:#FF7F3E;
}
.login{

    display:inline-flex;
    position:relative;
    font-family: "Pixelify Sans","Sans Serif";

    float:right;
    margin-top:-0.55%;
    margin-right:3%;
}
.login a{
    text-decoration: none;
}
.login h3{
    font-size:1.25rem;
    color: #F7EEDD;
    transition:0.75s;
}
.login h3:hover{
    color:#FF7F3E;
}
.main{
    position:relative;
    display:block;
    padding-top:5%;
    padding-left:35%;
    z-index:2;
}
.chymes{
    font-size:8rem;
    font-family:"Pixelify Sans","Sans Serif";
    color: #FF7F3E;
    margin-bottom:0%;
}

.main input{
    width:27vw;
    height:3vh;
    font-size: 1.15rem;
    font-family:"Pixelify Sans","Sans Serif";
    margin-left:2%;
    padding-left:1%;
}
.main textarea{

    width:27vw;
    height:6vh;
    font-size: 1.15rem;
    font-family:"Pixelify Sans","Sans Serif";
    margin-left:2%;
    padding-left:1%;
}
.main div{
    margin-bottom:2%;
}