<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chymes|Playlist</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class = 'navbar'>
            <div class="logo">
                <img src="" alt="Chymes_logo">
            </div>
            <div class="nav-items">
                <li>
                    <a href="#">Home Page</a>
                </li>
                <li>
                    <a href="feedback.html">Feedback</a>
                </li>
            </div>
            <div class="login">
                <a href=""><h3>Login</h3></a>
            </div>
        </nav>
    </header>
    <div class="main">
        <h1 class="chymes">CHYMES</h1>
    </div>
    <script src="./static/index.js"></script>
</body>
</html>