<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chymes | Feedback</title>
    <link rel="shortcut icon" href="/static/assets/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/feedback.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class = 'navbar'>
        <div>
            <img class="logo" src="/static/assets/Logo.png" alt="Chymes_logo">
        </div>
        <div class="nav-items">
            <li>
                <a href="index.html">Home Page</a>
            </li>
            <li>
                <a href="feedback.html">Feedback</a>
            </li>
        </div>
    </nav>
    <div class="feedback">
        <h1>Feedback</h1>
        <i><p class="response">Thank you for your feedback!</p></i>
    </div>
</body>
</html>